**/xcuserdata/
**/xcshareddata/

# Stored Data, do not upload because it may contain API Keys
**/*.xcappdata

### CocoaPods Realm ###
# Unused Platforms
Pods/Realm/core/realm-monorepo.xcframework/watchos*
Pods/Realm/core/realm-monorepo.xcframework/tvos*
Pods/Realm/core/realm-monorepo.xcframework/macos*